:root {
   --black: #0f1418;
   --dark-gray: #272c30;
   --primary: #f3c251;
   --white: #fff;
   --gradient-primary: linear-gradient(88deg, #da5034 -4.13%, #f3c250 69.7%);
   --gradient-background: linear-gradient(180deg, #12181d 0%, #2c3532 100%);
}

body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background-color: var(--black);
   color: var(--white);
   height: 100vh;
   overflow: hidden;
}

.container {
   z-index: 1;
   position: relative;
   display: flex;
   flex-direction: column;

   padding: 20px;
   height: 100vh;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 24px;
}

.header__balance-wrapper {
   display: flex;
   flex-direction: column;
   gap: 8px;
   align-items: flex-start;
}

.header__balance {
   display: flex;
   flex-direction: column;
   gap: 4px;
   background: var(--dark-gray);
   padding-top: 12px;
   padding-bottom: 8px;
   padding-left: 24px;
   padding-right: 24px;
   border-radius: 100px;
}

.header__balance-amount-wrapper {
   display: flex;
   align-items: center;
   gap: 8px;
}

.header__balance-text {
   font-size: 14px;
   font-weight: 500;
}

.header__balance-amount {
   font-size: 32px;
   font-weight: 600;
   letter-spacing: -0.01em;
}

.header__token-icon {
   width: 24px;
   height: 24px;
}

.header__balance-rate {
   border-radius: 100px;
   background: var(--dark-gray);
   padding: 8px 24px;
}

.header__balance-rate-amount {
   font-size: 16px;
   font-weight: 500;
}

.circle-button {
   background: var(--dark-gray);
   border-radius: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 4rem;
   height: 4rem;
}

.circle-button__icon {
   width: 2.5rem;
   height: 2.5rem;
}

.progress-wrapper {
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.progress-bar {
   width: 100%;
   height: 8px;
   border-radius: 100px;
   overflow: hidden;
   background: #55585b;
}

.progress-bar__progress {
   height: 100%;
   background: var(--gradient-primary);
   border-radius: 100px;
}

.levels {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.level-wrapper {
   gap: 8px;
   background: var(--dark-gray);
   padding: 4px 8px;
   border-radius: 100px;
}

.level-text {
   font-size: 14px;
   font-weight: 500;
}

.game {
   display: flex;
   flex-direction: column;
   gap: 8px;
   width: 100%;
   align-items: center;
   justify-content: center;
   position: relative;
}

.dog {
   height: 50vh;
}

.dog img {
   height: 100%;
}

.presser {
   height: 25vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   bottom: -40px;
   left: 0;
}

.presser img {
   height: 100%;
}

.tap-button {
   background: var(--gradient-primary);
   padding: 20px 40px;
   border-radius: 100px;
   position: absolute;
   bottom: -56px;
   left: 50%;
   transform: translate(-50%, 0%);
}

.tap-button__text {
   font-size: 32px;
   font-weight: 700;
   color: var(--black);
   text-transform: uppercase;
}

.background {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 50%;
   background: var(--gradient-background);
}

.nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: var(--black);
   padding: 12px 24px;
   border-radius: 100px;
   position: absolute; /* Change from relative to absolute */
   bottom: 48px; /* Adjust the bottom position as needed */
   left: 50%;
   transform: translateX(-50%);
   width: calc(100% - 80px);
}
.nav__item {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 4px;
}

.nav__item-text {
   font-size: 14px;
   font-weight: 500;
}

.nav__item img {
   width: 32px;
   height: 32px;
}
